/*styling for chat-box div*/
.chat-box {
  margin: 20px;
  background: transparent;
  border: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

/*styling for chat header*/
.chat-header {
  background-color: #4080FF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .20);
  color: #FFFFFF;
  padding: 10px;
}
.chat-header p{
  font-size: 20px;
  margin: 0;
}
.glyphicon-comment {
  color: #42B72A;
  margin: 10px;
  font-size: 20px;
}

/*Styling for messages */
.message {
  display: inline-block;
  max-width: 90%;
  margin: 10px;
  padding: 3px;
  border-radius: 8px;
}
.received {
  background-color: #F1F0F0;
}
.sent{
  background-color: #4080FF;
  right: 0;
  color: #FFFFFF
}
.message p{
  margin: 0;
}

.input-box input{
  width: 100%;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  padding: 5px;
}
