/*styling for chat-box div*/
.chat-box {
  height: 200px;
  margin: 20px;
  background: transparent;
  border: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

/*styling for chat header*/
.chat-header {
  background-color: #4080FF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .20);
  color: #FFFFFF;
  padding: 10px;
}

.chat-header p{
  margin: 0;
  font-size: 20px;
}

.glyphicon-comment {
  color: #42B72A;
  margin: 10px;
  font-size: 20px;
}
