/*styling for chat-box div*/
.chat-box {
  background: transparent;
  border: 0;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}
/*styling for messagesArea*/
.messagesArea{
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*styling for chat header*/
.chat-header {
  background-color: #4080FF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .20);
  color: #FFFFFF;
  padding: 10px;
}
.chat-header p{
  font-size: 20px;
  margin: 0;
}
.glyphicon-comment {
  color: #42B72A;
  margin: 10px;
  font-size: 20px;
}

/*Styling for messages */
.messagesArea{
  padding-bottom: 10px;
}
.message {
  display: inline-block;
  max-width: 90%;
  margin: 1px;
  padding: 3px;
  border-radius: 8px;
  overflow-wrap: break-word;
}
.received {
  background-color: #F1F0F0;
  margin-left: 10px;
}
.sent{
  background-color: #4080FF;
  float: right;
  color: #FFFFFF;
  margin-right: 10px;
}
.sent.firstInChain{
  margin-top: 10px;
}
/*styling for name of messages*/
/*if its a sent message don't display name*/
.name.sent{
  display: none !important;
}
.name.notFirstInChain{
  display: none;
}
.name.received{
  color: #A4A7AE;
  font-size: 12px;
  padding: 3px;
  background-color: #FFFFFF
}
/*styling for time of messages*/
.timeHeader{
  margin: 0 auto;
  text-align: center;
  color: #9A9DA4;
  font-size: 14px;
  padding: 3px;
}



/*styling for input box*/
.input-box input{
  width: 100%;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  padding: 5px;
}
